* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgba(4, 7, 20, 1);
    color: rgba(249, 249, 249, 1);
    font-size: 10px;
    font-family: 'Bee', sans-serif;
    overflow-x: hidden;
}